
.container {
    position : relative;
}
.container .row .navigation-bar ul {
    list-style: none ;
    padding : 0 ;
    margin: 0 ;
}
.container .row .navigation-bar ul li a {
    text-decoration: none;
    color : white ;
    text-align: center;
    background-color: black ;
    float : right;
    width : 100% ;
    height: 40px
    padding : 8px 16px ;
}
.container .row .navigation-bar ul li a:hover {
    background-color: lightslategrey;
    display: block ;
    color : red ;
}
.container .row .navigation-bar ul li ul li {
    display:block ;
}
.title {
    text-align: center;
    width : 100% ;
}
.container .introduction .introduction-paragraph {
      font-family: cursive;
      font-size: 15px;
      font-weight: 100;
      margin-left: 10%;
}
.container .introduction {

}
@media only screen and ( min-width : 401px ){
    .container .row .navigation-bar ul li a {
        width : 100px ;
        height : 25px ;
    }
    .title {
        text-align: left;
    }
}
.slide-container {
      width: 540px ;
      margin: 40px auto;
}
.slide-container .slide-outer .slide-inner {
      position : relative;
      width: 500px ;
      height: 300px ;
      overflow: hidden;
      float: left;
      padding: 3px;
      border : #666 solid 1px ;

}
.slide-container .slide-outer .slide-inner img {
      display: none;
      width: 500px ;
      height: 300px ;
}
.slide-container .slide-outer .slide-inner img.active {
    display: inline-block;
}
/*.slide-container .slide-outer .prev , .slide-container .slide-outer .next {
    float: left;
    margin-top: 130px;
    cursor: pointer;
}*/
/*.slide-container .slide-outer .prev {
    margin-right: -45px ;
    position: relative;
    z-index: 100 ;
}
.slide-container .slide-outer .next {
    margin-right: -45px ;
    position: relative;
    z-index: 100;
}*/
